.gradient {
  background: rgb(64, 37, 167);
  background: -moz-linear-gradient(
    141deg,
    rgba(64, 37, 167, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    141deg,
    rgba(64, 37, 167, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    141deg,
    rgba(64, 37, 167, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4025a7",endColorstr="#ffffff",GradientType=1);
}

.ciao {
  font-size: 0.75rem !important;
}

.carte {
  background-color: #2c2c2c !important;
}

.carte2 {
  background-color: #181818 !important;
}
